@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
* {
  font-family: 'Roboto Mono', monospace;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: dark;
  color: silver;
  --C1: #69626D;
  --C2: #BCAF9C;
  --C3: #9370DB;
  --C4: #D8BFD8;
  --C5: #9400D3;
  --C6: #000000;
  --C7: #FFFFFF;
  --C8: #663399;
}

/* ScrollBar */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* tech selector variable */
.selected {
  color: var(--C3)
}

.card-shadow {
  box-shadow: 2px 3px 5px var(--C1);
}





.links-container {
  width: 100%;
}















